<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header_top">
	<h1><a href="/main">MIH logo</a></h1>
	<div class="util">
		<!-- ${#authentication.Principal.getUser().getUserId()} == ${#authentication.name} -->
		<p class="user" th:text="${#authentication.Principal.getUser().getUserName()}"></p>
		<p class="user" th:text="${#authentication.name}"></p>
		<a href="/user/logout" class="logout">로그아웃</a>
	</div>
</div>