@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline:0 !important;
}

*, ::after, ::before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    line-height: 1.4; 
    -webkit-text-size-adjust: 100%; 
}

body {
    min-width: 320px;
    word-break: keep-all;
    font-family: 'Spoqa Han Sans Neo', 'Inter', 'Malgun Gothic', '맑은 고딕', 'Open Sans', 'Arial', sans-serif;
    background: #fff;
}

main,
header,
section,
nav,
footer,
figure {
  display: block;
}

pre {
    white-space: pre-wrap;
    font-family: 'Spoqa Han Sans Neo', 'Inter', 'Malgun Gothic', '맑은 고딕', 'Open Sans', 'Arial', sans-serif;
}

ul, li, ol{
  list-style: none;
}

a {
  text-decoration:none;
  font-family: 'Spoqa Han Sans Neo', 'Inter', 'Malgun Gothic', '맑은 고딕', 'Open Sans', 'Arial', sans-serif;
  background-color: transparent;
}

a:link,
a:visited {
    text-decoration: none;
}

a:link:hover,
a:active {
    text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border:0;
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.4; 
  margin: 0;
  font-family:'Spoqa Han Sans Neo', 'Inter', 'Malgun Gothic', '맑은 고딕', 'Open Sans', 'Arial', sans-serif;
  border: 0;
  border-radius: 0;
  background-color: #fff;
}

button,
input { 
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select{
    -webkit-appearance:none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0;
  border: 0;
}

legend {
  display: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  display: none;
}
