<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<form id="adminPwForm" name="adminPwForm" method="post" enctype="multipart/form-data" data-parsley-ui-enabled="false">

<p class="pop_title">관리자 비밀번호 변경</p>
<table cellpadding="0" cellspacing="0" class="t_form">
	<colgroup>
		<col width="150px"><col width="240px">
	</colgroup>
	<tbody>
		<tr>
			<td class="th">관리자 아이디</td>
			<td>
				<input type="hidden" name="mngrId" id="mngrId" class="w100" th:value="${admin.mngrId}"/>
				<th:block th:text="${admin.mngrId}"/>
			</td>
		</tr>
		<tr>
			<td class="th">새 비밀번호</td>
			<td>
				<input type="password" name="mngrPw" id="mngrPw" class="w100" maxlength="20"
					data-parsley-required="true" th:data-parsley-error-message="#{valid.encode.pw}"/>
			</td>
		</tr>
		<tr>
			<td class="th">새 비밀번호 확인</td>
			<td>
				<input type="password" name="mngrPwConfirm" id="mngrPwConfirm" class="w100" maxlength="20"
					data-parsley-required="true" th:data-parsley-error-message="#{valid.admin.pw.confirm}"/>
			</td>
		</tr>
	</tbody>
</table>
<div class="btn_wrap">
	<a href="#close-modal" rel="modal:close" class="cancle">취소하기</a>
	<a href="javascript:fn_save();" class="submit">변경하기</a>
</div>
<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>

</form>

<script>
$(function(){
	// 유효성검사(한글 제외한 영문, 특수문자, 숫자 입력가능한 로직)
	$("#mngrPw").keyup(function(){
		$(this).val($(this).val().replace(/[\ㄱ-ㅎㅏ-ㅣ가-힣]/g, ""));
	});
	$("#mngrPwConfirm").keyup(function(){
		$(this).val($(this).val().replace(/[\ㄱ-ㅎㅏ-ㅣ가-힣]/g, ""));
	});
});

// 수정하기
function fn_save(){
	var url = "/admin/pw/upd";

	// 영문(대문자), 영문(소문자), 숫자, 특수문자 패턴 정의
	var pattern = /[A-Z]/;
	var pattern2 = /[a-z]/;
	var pattern3 = /[0-9]/;
	var pattern4 = /[~!@#$%^&*()-+/]/;

	// 새 비밀번호, 새 비밀번호 확인
	var pw = $("#mngrPw").val();
	var pw2 = $("#mngrPwConfirm").val();
	
	// validation 체크
	if(formValidation("adminPwForm")){

		if($("#mngrPw").val() != $("#mngrPwConfirm").val()){
			alert("입력한 비밀번호가 일치하지 않습니다.");
			$("#mngrPw").val("");
			$("#mngrPwConfirm").val("");
			return false;
		}

		// 유효성검사
		if( (!pattern.test(pw) || !pattern2.test(pw) || !pattern3.test(pw) || pw.length<8)
			&& (!pattern.test(pw) || !pattern2.test(pw) || !pattern4.test(pw) || pw.length<8)
			&& (!pattern.test(pw) || !pattern3.test(pw) || !pattern4.test(pw) || pw.length<8)
			&& (!pattern2.test(pw) || !pattern3.test(pw) || !pattern4.test(pw) || pw.length<8) ){

			alert("비밀번호는 영문, 숫자, 특수문자 포함 8자리 이상으로 구성하여야 합니다.");
			$("#mngrPw").val("");
			$("#mngrPwConfirm").val("");
			$("#mngrPw").focus();
			return false;
		}
		
		var frm = $("#adminPwForm")[0];
		frm.action = url;
		frm.submit();
	}
}
</script>