<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<form id="adminForm" name="adminForm" method="post" enctype="multipart/form-data" data-parsley-ui-enabled="false">

<p class="pop_title">관리자 수정</p>
<table cellpadding="0" cellspacing="0" class="t_form">
	<colgroup>
		<col width="150px"><col width="240px"><col width="150px"><col width="240px">
	</colgroup>
	<tbody>
		<tr>
			<td class="th">관리자ID</td>
			<td>
				<input type="hidden" name="mngrId" id="mngrId" th:value="${admin.mngrId}"/>
				<th:block th:text="${admin.mngrId}"/>
			</td>
			<td class="th">관리자명</td>
			<td>
				<th:block th:text="${admin.mngrNm}"/>
			</td>
		</tr>
		<tr>
			<td class="th">이메일</td>
			<td>
				<input type="text" id="email" name="email" class="w100" th:value="${admin.email}"
					data-parsley-required="true" th:data-parsley-error-message="#{valid.encode.email}"/>
			</td>
			<td class="th">핸드폰번호</td>
			<td>
				<input type="text" id="hpNo" name="hpNo" class="w100" th:value="${admin.hpNo}" 
					data-parsley-required="true" th:data-parsley-error-message="#{valid.encode.hpNo}"/>
			</td>
		</tr>
	</tbody>
</table>
<div class="btn_wrap">
	<a href="#close-modal" rel="modal:close" class="cancle">취소하기</a>
	<a href="javascript:fn_save();" class="submit">수정하기</a>
</div>
<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>

</form>

<script>
$(function(){
	// 이메일 체크
	$("#adminForm").find("#email").keyup(function(){
		$(this).val($(this).val().replace(/[^a-zA-Z0-9|._@-]/g, ''));
	});
	
	// 핸드폰 번호 하이픈
	$("#adminForm").find("#hpNo").keyup(function() {
		var hpNo = $(this).val().replace(/[^0-9]/g, '');
		$(this).val(phoneHyphen(hpNo));
	});
});

// 수정하기
function fn_save(){
	var url = "/admin/upd";
	
	// validation 체크
	if(formValidation("adminForm")){

		// 유효성검사
		if(!emailRegEx($("#email").val()) ){
			alert("유효하지 않은 이메일입니다.");
			return false;
		}
		if(!phoneRegEx($("#hpNo").val()) ){
			alert("유효하지 않은 휴대폰번호입니다.");
			return false;
		}
		
		var frm = $("#adminForm")[0];
		frm.action = url;
		frm.submit();
	}
}

// 이메일 정규식
var emailRegEx = function(email){

	var regExp = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
	if(!regExp.test(email)){
		return false;
	}
	return true;
}

// 핸드폰 정규식
var phoneRegEx = function(phone){

	var regExp = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/;
	if(!regExp.test(phone)){
		return false;
	}
	return true;
}

// 핸드폰 하이픈 형태 입력
var phoneHyphen = function(hpNo){
	hpNo = hpNo.replace(/-/g, ''),
	hpNoLength = hpNo.length,
	hpNoStr = "";

	if(hpNoLength > 10) {
		hpNo = hpNo.substring(0, 11);
	}
	hpNoLength = hpNo.length;
	
	if(hpNoLength < 4){
		return hpNo;
	}else if(hpNoLength < 7){
		hpNoStr += hpNo.substr(0, 3);
		hpNoStr += '-';
		hpNoStr += hpNo.substr(3);
		return hpNoStr;
	}else if(hpNoLength < 11){
		hpNoStr += hpNo.substr(0, 3);
		hpNoStr += '-';
		hpNoStr += hpNo.substr(3, 3);
		hpNoStr += '-';
		hpNoStr += hpNo.substr(6);
		return hpNoStr;
	}else{
		hpNoStr += hpNo.substr(0, 3);
		hpNoStr += '-';
		hpNoStr += hpNo.substr(3, 4);
		hpNoStr += '-';
		hpNoStr += hpNo.substr(7);
		return hpNoStr;
	}
}
</script>