<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- include 방식 -->
	<th:block th:include="common/common" th:remove="tag"></th:block>
</head>
<body>

<form id="bbsCtgryForm" name="bbsCtgryForm" method="post">
	
	<!-- 수정일 경우 hidden값 세팅 -->
	<th:block th:if="${session.STS_FLAG eq 'upd'}">
		<input type="hidden" id="ctgryIdx" name="ctgryIdx" th:value="${resultVO.ctgryIdx}">
	</th:block>
	
	<div id="wrap">
		<!-- header start -->
		<header>
			<th:block th:include="common/top" th:remove="tag"></th:block>
			<th:block th:include="common/lnb" th:remove="tag"></th:block>
		</header>
		<!-- header end -->
		
		<div id="container">
			<div class="contents">
				<!-- 지부정보 등록 start -->
				<h3 class="page_title">
					게시판 카테고리
					<th:block th:if="${session.STS_FLAG eq 'add'}">
						등록
					</th:block>
					<th:block th:if="${session.STS_FLAG eq 'upd'}">
						수정
					</th:block>
				</h3>
				<table cellpadding="0" cellspacing="0" class="t_form">
					<colgroup>
						<col width="100px"><col width="130px"><col width="100px"><col width="130px"><col width="100px"><col width="130px">
					</colgroup>
					<tbody>
					<tr>
						<td class="th">카테고리</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="ctgryNm" name="ctgryNm" class="w100" maxlength="10" value="" data-parsley-required="true" data-parsley-error-message="카테고리를 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="ctgryNm" name="ctgryNm" class="w100" maxlength="10" th:value="${resultVO.ctgryNm}" data-parsley-required="true" data-parsley-error-message="카테고리를 입력해주세요.">
							</th:block>
						</td>
						<td class="th">정렬순서</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="sort" name="sort" class="w100" maxlength="3" value="" data-parsley-required="true" data-parsley-error-message="정렬순서를 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="sort" name="sort" class="w100" maxlength="3" th:value="${resultVO.sort}" data-parsley-required="true" data-parsley-error-message="정렬순서를 입력해주세요.">
							</th:block>
						</td>
						<td class="th">사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('use_0')}" name="useYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('use_0')}" name="useYn" th:value="${result.val1}" th:checked="${resultVO.useYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
					</tr>
					<tr>
						<td class="th">첨부파일<br/>사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('file_use_0')}" name="fileUseYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="첨부파일 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('file_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('file_use_0')}" name="fileUseYn" th:value="${result.val1}" th:checked="${resultVO.fileUseYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="첨부파일 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('file_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
						<td class="th">(게시글의) 답글<br/>사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('ans_use_0')}" name="ansUseYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="(게시글의) 답글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('ans_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('ans_use_0')}" name="ansUseYn" th:value="${result.val1}" th:checked="${resultVO.ansUseYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="(게시글의) 답글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('ans_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
						<td class="th">댓글<br/>사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('cmt_use_0')}" name="cmtUseYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="댓글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('cmt_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('cmt_use_0')}" name="cmtUseYn" th:value="${result.val1}" th:checked="${resultVO.cmtUseYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="댓글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('cmt_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
					</tr>
					<tr>
						<td class="th">에디터<br/>사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('edi_use_0')}" name="ediUseYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="에디터 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('edi_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('edi_use_0')}" name="ediUseYn" th:value="${result.val1}" th:checked="${resultVO.ediUseYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="에디터 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('edi_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
						<td class="th">파일<br/>허용개수</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="filePermCnt" name="filePermCnt" class="w100" maxlength="2" value="" data-parsley-required="true" data-parsley-error-message="파일 허용개수를 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="filePermCnt" name="filePermCnt" class="w100" maxlength="2" th:value="${resultVO.filePermCnt}" data-parsley-required="true" data-parsley-error-message="파일 허용개수를 입력해주세요.">
							</th:block>
						</td>
						<td class="th">파일당 허용<br/>업로드 용량(MB)</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="filePermBt" name="filePermBt" class="w100" maxlength="4" value="" data-parsley-required="true" data-parsley-error-message="파일당 허용 업로드 용량을 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="filePermBt" name="filePermBt" class="w100" maxlength="4" th:value="${resultVO.filePermBt}" data-parsley-required="true" data-parsley-error-message="파일당 허용 업로드 용량을 입력해주세요.">
							</th:block>
						</td>
					</tr>
					<tr>
						<td class="th">댓글<br/>정렬방식</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${cmtOrdWayRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('cmt_ord_0')}" name="cmtOrdWay" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="댓글 정렬방식을 선택해주세요."/>
											<label th:for="${#ids.prev('cmt_ord_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${cmtOrdWayRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('cmt_ord_0')}" name="cmtOrdWay" th:value="${result.val1}" th:checked="${resultVO.cmtOrdWay} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="댓글 정렬방식을 선택해주세요."/>
											<label th:for="${#ids.prev('cmt_ord_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
						<td class="th">(댓글의) 답글<br/>사용여부</td>
						<td>
							<div class="con">
								<th:block th:if="${session.STS_FLAG eq 'add'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('rep_use_0')}" name="repUseYn" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="(댓글의) 답글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('rep_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
								<th:block th:if="${session.STS_FLAG eq 'upd'}">
									<th:block th:each="result, status : ${useYnRadio}">
										<p class="checkbox">
											<input type="radio" th:id="${#ids.seq('rep_use_0')}" name="repUseYn" th:value="${result.val1}" th:checked="${resultVO.repUseYn} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="(댓글의) 답글 사용여부를 선택해주세요."/>
											<label th:for="${#ids.prev('rep_use_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
										</p>
									</th:block>
								</th:block>
							</div>
						</td>
						<td class="th">공지<br/>설정개수</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="notiCnt" name="notiCnt" class="w100" maxlength="4" value="" data-parsley-required="true" data-parsley-error-message="공지 설정개수를 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="notiCnt" name="notiCnt" class="w100" maxlength="4" th:value="${resultVO.notiCnt}" data-parsley-required="true" data-parsley-error-message="공지 설정개수를 입력해주세요.">
							</th:block>
						</td>
					</tr>
					</tbody>
				</table>
				
				<p class="stit mart40">권한 설정</p>
				<table cellpadding="0" cellspacing="0" class="t_form">
					<colgroup>
						<col width="200px"><col width="350px"><col width="200px"><col width="350px">
					</colgroup>
					<tbody>
						<tr>
							<td class="th">읽기 권한</td>
							<td>
								<div class="con">
									<th:block th:if="${session.STS_FLAG eq 'add'}">
										<th:block th:each="result, status : ${rdAuthRadio}">
											<p class="checkbox">
												<input type="radio" th:id="${#ids.seq('rd_auth_0')}" name="rdAuth" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="읽기 권한을 선택해주세요."/>
												<label th:for="${#ids.prev('rd_auth_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
											</p>
										</th:block>
									</th:block>
									<th:block th:if="${session.STS_FLAG eq 'upd'}">
										<th:block th:each="result, status : ${rdAuthRadio}">
											<p class="checkbox">
												<input type="radio" th:id="${#ids.seq('rd_auth_0')}" name="rdAuth" th:value="${result.val1}" th:checked="${resultVO.rdAuth} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="읽기 권한을 선택해주세요."/>
												<label th:for="${#ids.prev('rd_auth_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
											</p>
										</th:block>
									</th:block>
								</div>
							</td>
							<td class="th">쓰기 권한</td>
							<td>
								<div class="con">
									<th:block th:if="${session.STS_FLAG eq 'add'}">
										<th:block th:each="result, status : ${wtAuthRadio}">
											<p class="checkbox">
												<input type="radio" th:id="${#ids.seq('wt_auth_0')}" name="wtAuth" th:value="${result.val1}" data-parsley-required="true" data-parsley-error-message="쓰기 권한을 선택해주세요."/>
												<label th:for="${#ids.prev('wt_auth_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
											</p>
										</th:block>
									</th:block>
									<th:block th:if="${session.STS_FLAG eq 'upd'}">
										<th:block th:each="result, status : ${wtAuthRadio}">
											<p class="checkbox">
												<input type="radio" th:id="${#ids.seq('wt_auth_0')}" name="wtAuth" th:value="${result.val1}" th:checked="${resultVO.wtAuth} == ${result.val1}" data-parsley-required="true" data-parsley-error-message="쓰기 권한을 선택해주세요."/>
												<label th:for="${#ids.prev('wt_auth_0')}"><i></i><th:block th:text="${result.cdNm}"/></label>
											</p>
										</th:block>
									</th:block>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="btn_wrap">
					<a href="javascript:fn_cancel();" class="cancle">취소하기</a>
					<th:block th:if="${session.STS_FLAG eq 'add'}">
						<a href="javascript:fn_add();" class="submit">등록하기</a>
					</th:block>
					<th:block th:if="${session.STS_FLAG eq 'upd'}">
						<a href="javascript:fn_upd();" class="submit">수정하기</a>
					</th:block>
				</div>
				<!-- 게시판 카테고리 등록 end -->
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	// 정렬순서, 파일 허용개수, 파일당 허용 업로드 용량(MB) 유효성검사 추가(숫자를 제외한 나머지 문자 입력 안되도록 수정)
	$("#sort").keyup(function(){
		$("#sort").val($("#sort").val().replace(/[^0-9]*$/, ''));
	});
	$("#filePermCnt").keyup(function(){
		$("#filePermCnt").val($("#filePermCnt").val().replace(/[^0-9]*$/, ''));
	});
	$("#filePermBt").keyup(function(){
		$("#filePermBt").val($("#filePermBt").val().replace(/[^0-9]*$/, ''));
	});
	
	// 수정화면에서 쓰기 권한 radio box disabled 처리
	if("[[${session.STS_FLAG}]]" == "upd"){
		$("input[name=wtAuth]").prop("disabled", true);
	}
});

// 등록하기
function fn_add(){

	// validation 체크
	if(formValidation("bbsCtgryForm")){

		var frm = $("#bbsCtgryForm")[0];
		frm.action = "/bbs/ctgry/add";
		frm.submit();
	}
}

// 수정하기
function fn_upd(){

	// validation 체크
	if(formValidation("bbsCtgryForm")){

		var frm = $("#bbsCtgryForm")[0];
		frm.action = "/bbs/ctgry/upd";
		frm.submit();
	}
}

// 취소하기
function fn_cancel(){
	location.href = "/bbs/ctgry/list"
}
</script>
</body>
</html>