<div th:include="common/common" th:remove="tag"/>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form id="bbsCmtFrm" name="bbsCmtFrm" method="get" enctype="multipart/form-data">

    <input type="hidden" id="bbsIdx" name="bbsIdx" th:value="${bbsResult.bbsIdx}" />
    <input type="hidden" id="bbsCmtIdx" name="bbsCmtIdx" value="0" />
    <input type="hidden" id="ref" name="ref" value="0" />
    <input type="hidden" id="depth" name="depth" value="0" />
    <input type="hidden" id="ctgryIdx" name="ctgryIdx" th:value="${resultGrant.ctgryIdx}">

    <div id="wrap">
        <!-- header start -->
        <header>
            <div th:include="common/top" th:remove="tag"/>
            <div th:include="common/lnb" th:remove="tag"/>
        </header>
        <!-- header end -->

        <div id="container">
            <div class="contents">
                <!-- 지부정보 등록 start -->
                <h3 class="page_title">
                    게시글 상세조회
                </h3>
                <th:block th:if="${resultGrant.ansUseYn eq 'Y'}">
                    <div class="clear" style="margin-top:-45px;">
                        <a th:onclick="javascript:fn_reBbs();" class="s_btn submit right">답글 등록</a>
                    </div>
                </th:block>
                <table cellpadding="0" cellspacing="0" class="t_form">
                    <colgroup>
                        <col width="150px"><col width="230px"><col width="150px"><col width="390px">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="th" >제목</td>
                        <td colspan="3" th:text="${bbsResult.bbsSj}"></td>
                    </tr>
                    <tr>
                        <td class="th">카테고리</td>
                        <td th:text="${bbsResult.ctgryNm}"></td>
                        <td class="th">등록일</td>
                        <td th:text="${bbsResult.regDt}"></td>
                    </tr>
                    <tr>
                        <td class="th">내용</td>
                        <td colspan="3">
                            <th:block th:text="${bbsResult.viewBbsCn}" escapeXml="false"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- 게시판 카테고리 등록 end -->
            </div>

            <div class="contents" id="fileTbl" style="display:none">
                <!-- 첨부파일 시작 -->
                <p class="stit mart30">첨부파일</p>

                <table cellpadding="0" cellspacing="0" class="t_list mart10">
                    <colgroup>
                        <col width="365px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>첨부파일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="result,status : ${fileList}">
                        <tr class="fileTr">
                            <td style="text-align:left">
                                <input type="hidden" name="dbData" class="dbData" value="Y"/>
                                <input type="hidden" name="fileTableNm" id="fileTableNm" th:value="${result.fileTableNm}"/>
                                <input type="hidden" name="fileTableIdx" id="fileTableIdx" th:value="${result.fileTableIdx}"/>
                                <input type="hidden" name="fileIdx" id="fileIdx" th:value="${result.fileIdx}"/>
                                <input type="hidden" name="fileSort" id="fileSort" th:value="${result.fileSort}"/>
                                <input type="file" name="attachFile" class="attachFile" style="display:none;"/>
                                <input th:type="text" name="fileOrgNm" class="w90" th:readonly="true" th:value="${result.fileOrgNm}" style="cursor:pointer; border:0px;"
                                       th:onclick="javascript:fileDown([[${result.sysPath}]], [[${#strings.replace(result.attPath, '\\\\', '/')}]], [[${result.fileSysNm}]], [[${result.fileOrgNm}]]); event.cancelBubble=true"/>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <!-- 게시판 댓글 등록 start -->
            <div class="contents" id="cmtTbl" style="display:none">
                <p class="stit mart30">댓글</p>
                <div class="clear">
                    <!-- <p class="t_total">총 ${totCnt}건</p>
                    <a href="/bbs/addView" class="s_btn submit right">댓글달기</a> -->
                </div>
                <table cellpadding="0" cellspacing="0" class="t_list mart10">
                    <colgroup>
                        <col width="80%"><col width="10%"><col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>댓글 내용</th>
                        <th>등록자</th>
                        <th>등록일자</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:if="${bbsCmtList.size() == 0}">
                        <tr>
                            <td colspan="3" text="댓글이 없습니다."></td>
                        </tr>
                    </th:block>
                    <th:block th:if="${bbsCmtList.size() > 0}">
                        <th:block th:each="bbsCmt,status : ${bbsCmtList}">
                            <tr name="1" th:class="${bbsCmt.ref}" th:value="${bbsCmt.depth}" style="display: table-row;">
                                <td style="text-align:left;">
                                    <th:block th:if="${bbsCmt.depth ne 0}">
                                        <th:block th:with="nPx=40">	<!-- 게시글 답글 영역 아이콘 크기 -->
                                            <span th:style="|margin-left: ${nPx * bbsCmt.depth}px|" th:text="[RE]"/>
                                        </th:block>
                                    </th:block>
                                    <th:block th:switch="${bbsCmt.reBbsFlag}">
                                        <th:block th:case="true">
                                            <button type="button" id="reCmtBtn" class="s_btn submit" style="display:inline-block;" th:onclick="javascript:setup_reCmtList([[${bbsCmt.bbsCmtIdx}]],[[${bbsCmt.depth}]],this)">-</button>
                                        </th:block>
                                        <th:block th:case="*">
                                            <button type="button" id="reCmtBtn" class="s_btn submit" style="display:none;" th:onclick="javascript:setup_reCmtList([[${bbsCmt.bbsCmtIdx}]],[[${bbsCmt.depth}]],this)">-</button>
                                        </th:block>
                                    </th:block>
                                    <span th:text="${bbsCmt.bbsCmtCn}"/>
                                    <th:block th:if="${resultGrant.repUseYn == 'Y' && bbsCmt.depth == 0}">
                                        <button type="button" id="btnSearch" class="s_btn submit" style="float: right;" th:onclick="javascript:fn_rep([[${bbsCmt.bbsIdx}]], [[${bbsCmt.bbsCmtIdx}]], [[${bbsCmt.depth}]], this)">답글</button>
                                    </th:block>
                                </td>
                                <td th:text="${bbsCmt.regId}"></td>
                                <td th:text="${bbsCmt.regDt}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
                <!-- <table cellpadding="0" cellspacing="0" class="t_form">
                    <colgroup>
                        <col width="150px"><col width="670px"><col width="100px">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="th" >댓글 적는 부분</td>
                            <td>
                                <input type="text" id="bbsCmtCn" name="bbsCmtCn" value="">
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>

            <!-- 게시판 댓글 end -->
            <div class="btn_wrap">
                <a href="/bbs/list" class="submit">목록</a>
            </div>
        </div>
    </div>
</form>
<script th:inline="javascript">
    window.onload = function(){
        if([[${resultGrant.cmtUseYn == 'Y'}]]){	//댓글 사용여부
            $("#cmtTbl").css("display", "block");
        }
        if([[${resultGrant.fileUseYn == 'Y'}]]){	//첨부파일 사용여부
            $("#fileTbl").css("display", "block");
        }
    }

    // 조회
    function fn_search(){
        $("#currentPageNo").val(1);	// 검색했을때 1페이지 유지

        var frm = $("#bbsCmtFrm")[0];
        frm.action = "/bbs/list";
        frm.submit();
    }

    // 삭제
    function fn_delete(bbsIdx){

        if(!confirm("댓글을 삭제하시겠습니까?")){
            return;
        }else{
            $("#bbsCmtFrm").find("#bbsCmtIdx").val(bbsIdx);
            var frm = $("#bbsCmtFrm")[0];
            frm.action = "/bbs/bbsCmt/del";
            frm.method = "post";
            frm.submit();
        }
    }

    // 첨부파일 다운로드
    function fileDown(sysPath, attPath, svf, ogf){

        var saveFileNm = svf; // saveFileNm (DB에 저장된 임시 파일명)
        var orgFileNm = ogf;	// orgFileNm (진짜 파일명)
        location.href = "/com/fileDown?sysPath="+sysPath+"&attPath="+attPath+"&orgFileNm="+encodeURIComponent(orgFileNm)+"&saveFileNm="+saveFileNm;
    }
    // 답글
    function fn_reBbs(){
        $("#bbsCmtFrm").find("#ref").val([[${bbsResult.bbsIdx}]]);
        $("#bbsCmtFrm").find("#depth").val([[${bbsResult.depth +1}]]);
        var frm = $("#bbsCmtFrm")[0];
        frm.action = "/bbs/addView";
        frm.method = "get";
        frm.submit();
    }
    // 리플 대댓글 활성/비활성
    function setup_reCmtList(bbsCmtIdx, nDepth, obj){
        var bFlag = 0;
        if ($(obj).text() == '+'){
            bFlag = 1;
            $(obj).text("-");
        } else {
            bFlag = 0;
            $(obj).text("+");
        }
        var noneDisplayList = [];
        var temp = $("#cmtTbl tbody").find('tr[class*='+bbsCmtIdx+']');
        for(var i=0;i<temp.length;i++) {
            var tempDepth = Number(temp.eq(i).attr("value"));
            var subDepthFlag = false;
            if (nDepth == (tempDepth-1)){
                temp.eq(i).attr("name", bFlag);
                subDepthFlag = true;
            }
            if ( subDepthFlag ){	// 대상
                if( bFlag == 1 ){
                    temp.eq(i)[0].style.display = "table-row";
                } else {
                    temp.eq(i)[0].style.display = "none";
                }
            } else {	// 하위
                var bDisplay = Number(temp.eq(i).attr("name"));
                var bValue = (temp.eq(i).attr("value"));
                var strDisplay = temp.eq(i).attr("class");
                for (var j = 0; j < noneDisplayList.length; j++) {
                    if (strDisplay.indexOf(noneDisplayList[j]) !== -1) {
                        bDisplay = 0;
                        break;
                    }
                }
                if (!(bValue >= 0)) {	<!-- 생성된 답글창인 경우 변경하지 않는다. continue -->
                    continue;
                }
                if (bFlag == 1 && bDisplay == 1){
                    temp.eq(i)[0].style.display = "table-row";
                } else {
                    temp.eq(i)[0].style.display = "none";
                    noneDisplayList.push(temp.eq(i).find('td').eq(0).text());
                }
            }
        }
    }
    // 리플
    function fn_rep(bbsIdx, bbsCmtIdx, depth, obj){
        if( $(obj).parent().parent().parent().find("#rep_input") ){
            $(obj).parent().parent().parent().find("#rep_input").remove();
        }
        var html = "";
        html += '<tr id="rep_input" class="'+bbsCmtIdx+'">'; //!important
        html += '<td colspan="3" style="text-align: left;">';
        html += '<input type="text" id="rep_text" style="width: 70%;" placeholder="리플(대댓글)을 입력해주세요."/>';
        html += '<button type="button" id="btnRep" class="s_btn submit" th:onclick="javascript:fn_rep_enter('+bbsIdx+','+bbsCmtIdx+','+depth+',this)">등록</button>';
        html += '</td>';
        html += '</tr>';
        $(obj).parent().parent().after(html);
    }
    function fn_rep_enter(bbsIdx, bbsCmtIdx, depth, obj){
        var tempBbsCmtCn = $(obj).parent().find('#rep_text').val();
        if (tempBbsCmtCn == ""){
            alert([[#{valid.notice.content.write}]]);
            return;
        }
        var param = {
            bbsIdx : bbsIdx,
            bbsCmtIdx : bbsCmtIdx,
            depth : (depth+1),
            bbsCmtCn : tempBbsCmtCn
        };

        $.ajax({
            type: "get",
            url: "/bbs/detail/addReCmt",
            async: false,
            data: param,
            dataType: "json",
            success: function (res) {
                console.log(res);
                var bbs = res.bbs;

                var html = "";
                html += '<tr name="1" class="'+bbs.ref+'" value="'+bbs.depth+'" style="display: table-row;">';
                html += '<td style="text-align:left;">';
                var nPx = 40;
                html += '<span th:style="|margin-left:'+(nPx*bbs.depth)+'px|"/>';
                html +=	'[RE]&nbsp;&nbsp;';
                html += bbs.bbsCmtCn;
                html +=	'</td>'
                html += '<td>'+bbs.regId+'</td>';
                html +=	'<td>'+bbs.regDt+'</td>';
                html +=	'</tr>';

                $(obj).parent().parent().parent().find("tr[class="+bbsCmtIdx+"]").eq(-1).after(html);	<!-- 리플의 마지막 -->
                var temp = $(obj).parent().parent().parent().find('tr');
                for(var i=0;i<temp.size();i++){
                    if(i > 0 && temp.eq(i).attr('class') == bbsCmtIdx){
                        temp.eq(i-1).find('#reCmtBtn').eq(0)[0].style.display = "inline-block";			<!-- 부모 리플 버튼 -->
                        break;
                    }
                }
                $(obj).parent().parent().remove();														<!-- 답글 등록창 삭제 -->
            },
            error: function (e) {
                alert(e.responseJSON.message);	// 코드값 확인 : err.responseJSON.code
                location.reload();
            }
        });
    }
</script>
</body>
</html>