@charset "utf-8";

/* login */
#login_wrap{
    min-width: 1000px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background: #EAEFED;
}

.login{
    width: 500px;
    height: 400px;
    padding: 55px 70px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -250px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px #00000014;
    -moz-box-shadow: 0 0 15px #00000014;
    -o-box-shadow: 0 0 15px #00000014;
    -ms-box-shadow: 0 0 15px #00000014;
    box-shadow: 0 0 15px #00000014;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.login .logo{
    width: 300px;
    margin: -20px 0px -10px 25px;
    padding: 0;
    border-bottom: 0;
}

.login .logo img{
    width: 100%;
}

.login input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.login button{
    display: block;
    width: 100%;
    height: 55px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    background: #0f77be;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

/* layout */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width:600px;
    z-index: 101;
}

header .header_top{
    position: relative;
    height: 88px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
    background: #FAF8F6;
}

header .header_top h1{
    width: 260px;
    font-size: 0;
    text-indent: -99999px;
}

header .header_top h1 a{
    width: 300px;
    height: 105px;
    display: block;
    margin: -20px 0px 0px 30px;
    background: url('../../../assets/images/main_logo.png') no-repeat left top;
    background-size: 100%;
}

header .header_top .util{
    margin: 29px 50px 0 0;
    font-size: 0;
}

header .header_top .util .user{
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
    color: #666;
}

header .header_top .util .user .id{
    display: inline-block;
    margin-left: 10px;
    color: #030303;
}

header .header_top .util .logout{
    display: inline-block;
    width: 77px;
    height: 36px;
    line-height: 33px;
    text-align: center;
    color: #666;
    font-size: 13px;
    border: 2px solid #EFEAE3;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
}

#gnb{
    width: 60px;
    height: calc(100% - 88px);
    position: fixed;
    left: 0;
    top: 88px;
    background:#006341;
    z-index: 100;
}

#lnb{
    width: 260px;
    height: calc(100% - 88px);
    position: fixed;
    /* left: 60px; */
    left: 0;
    top: 88px;
    padding: 45px 0 0;
    overflow-y: auto;
    background:#0f77be;
    z-index: 100;
}

#lnb .lnb_menu{
    display: block;
    height: 39px;
    position: relative;
    margin: 0 30px;
    line-height: 38px;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #2E7F63;
}

#lnb ul li:last-child .lnb_menu{
    border-bottom: 0 !important;
}

#lnb .lnb_menu.active,
#lnb .lnb_menu:hover{
    font-weight: 600;
}

#lnb .lnb_menu.drop::after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 14px;
    right: 7px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

#lnb .lnb_menu.drop{
    border-bottom: 0;
}
#lnb .lnb_menu.drop.close{
    border-bottom: 1px solid #2E7F63;
}

#lnb .lnb_menu.drop.close::after{
    transform: rotate(225deg);
}

#lnb .lnb_dropdown{
    height: auto;
    overflow: hidden;
    padding: 10px 30px;
    background: #0c5d95;
}

#lnb .lnb_dropdown .dropdown_menu{
    display: block;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
}

#lnb .lnb_dropdown .dropdown_menu:hover,
#lnb .lnb_dropdown .dropdown_menu:focus{
    text-decoration: underline;
}

/* main */
.dashboard{
    max-width: 1300px;
}

.dashboard .flex{
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
    -webkit-box-align:unset;
    -ms-flex-align:unset;
    align-items:unset;
}

.dashboard .title{
    overflow: hidden;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.dashboard .title p{
    float: left;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.dashboard .title .more{
    float: right;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.dashboard .status{
    width: calc(68% - 30px);
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
}

.dashboard .status .box{
    width: calc(50% - 30px);
}

.dashboard .status .sub{
    margin: 0 0 30px;
    font-size: 17px;
}

.dashboard .status .sub::before{
    content: '';
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 7px 0 0;
    background: #fff;
    border-radius: 50%;
    border:2px solid #0A895F;
}

.dashboard .status dl{
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.dashboard .status dl dt{
    color: #333;
}

.dashboard .status dl dd a{
    text-decoration: underline !important;
}

.dashboard .status dl dd .link{
    font-size: 35px;
    color: #030303;
}
.dashboard .status dl dd .link_yester{
    font-size: 25px;
    color: #666;
}
.dashboard .status dl dd .link_error{
    font-size: 25px;
    color: #F9423A;
}

.dashboard .rate{
    width: calc(32% - 20px);
    position: relative;
}

.dashboard .rate .li{
    overflow: hidden;
}

.dashboard .rate .li .branch{
    float: left;
    margin-top: 5px;
    font-size: 16px;
}

.dashboard .rate .li .rate_num{
    float: right;
}

.dashboard .rate .li .rate_num strong{
    font-size: 20px;
}

.dashboard .rate .li .rate_num i{
    font-style: normal;
    font-style: 15px;
    color: #666;
}

.dashboard .rate .slick-arrow{
    position: absolute;
    top:-62px;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 0;
    text-indent: -99999px;
    border: 1px solid #ddd;
    background: url('../../../assets/images/arr_main_link.svg') no-repeat center center;
    background-size: 15px;
}

.dashboard .rate .slick-arrow.slick-prev{
    right: 24px;
    transform: rotate(180deg);
}

.dashboard .rate .slider_counter{
    position: absolute;
    top: -57px;
    right: 0;
    font-size: 14px;
    color: #888;
}

.dashboard .rate .slick-arrow + .slider_counter{
    right: 60px;
}

.dashboard .board{
    width: calc((100% / 3) - 32px);
}

.dashboard .board .title{
    margin-bottom: 3px;
}

.dashboard .board .title .tit_info{
    width: calc(100% - 84px);
    float: right;
    overflow: hidden;
}

.dashboard .board .title .tit_info .total{
    float: left;
    margin-top: 3px;
}

.dashboard .board .title .tit_info .total p{
    margin-right: 3px;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

.dashboard .board .title .tit_info .total p::before{
    content: '|';
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 4px;
    font-size: 10px;
    font-weight: 300;
    color: #bbb;
}

.dashboard .board .title .tit_info .total p:first-child::before{
    display: none;
}

.dashboard .board .title .tit_info .total a{
    display: inline-block;
    color: #333;
    text-decoration: underline;
}

.dashboard .board table td{
    height: 50px;
    position: relative;
    padding: 6px 2px 5px;
    text-align: center;
    font-size: 14px;
    color: #222;
    border-bottom: 1px solid #eee;
}

.dashboard .board .inquiry td p{
    width: 228px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard .board table td .new{
    width: 14px;
    height: 14px;
    display: block;
    text-align: center;
    line-height: 15px;
    font-style: normal;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    background: #fdad1c;
}


#container{
    min-width: 1440px;
    position: relative;
    /* padding: 70px 5px 80px 320px; */
    padding: 70px 50px 80px 260px;
}

.contents{
    padding: 70px 0 0 50px;
}

.clear::after{
    content: '';
    display: block;
    clear: both;
}

.mart10{
    margin-top: 10px !important;
}
.mart30{
    margin-top: 30px !important;
}
.mart40{
    margin-top: 40px !important;
}
.mart60{
    margin-top: 60px !important;
}
.marl10{
    margin-left: 10px !important;
}
.marl30{
    margin-left: 30px !important;
}

a{
    cursor: pointer;
}

/* text */
h3.page_title{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #030303;
}

.color03{
    color: #030303 !important;
}
.color6{
    color: #666 !important;
}
.color_warn{
    color: #F9423A !important;
}

.text_under{
    text-decoration: underline !important;
}

.text_line{
    text-decoration: line-through;
}

.text_right{
    text-align: right !important;
}

.text_left{
    text-align: left !important;
}

.f_right{
    float: right;
}

.stit{
    margin: 15px 0 10px;
    font-size: 17px;
    color: #030303;
    font-weight: 600;
}

.label_on{
    display: inline-block;
    padding: .2rem 1rem .1rem;
    color: #444;
    font-size: 14px;
    background: #f2f2f2;
    border-radius: 20px;
}


.border_box{
    padding: 15px 30px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.flex{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;

}

.border_box .flex{
    margin: 8px 0;
    min-height: 43px;
}

.border_box .flex .tit{
    width: 120px;
    color: #030303;
    font-size: 16px;
}


/* table */
table{
    width: 100%;
}

.t_list thead th{
    padding: 12px 0 11px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
    background: #FAF8F6;
    border-top: 1px solid #EFEAE3;
    border-bottom: 1px solid #EFEAE3;
}

.t_list tbody td{
    padding: 13px 5px 11px;
    font-size: 15px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #EFEAE3;
}

table.full td{
    font-size: 14px;
}

.td_height td{
    height: 44px;
}

.t_list a.p_link{
    display: block;
    padding:0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    color: #030303;
    text-align: left;
}

.t_list a.p_link:hover,
.t_list a.p_link:focus{
    text-decoration: underline;
}

table.brd_side th,
table.brd_side td,
table.brd_side .brd_left,
table.brd_side td:first-child.brd_left{
    border-left: 1px solid #EFEAE3;
}
table.brd_side .left_none,
table.brd_side tr:first-child th:first-child,
table.brd_side td:first-child{
    border-left: 0;
}

table.brd_side th.brd{
    border-top: 0;
    border-bottom: 0;
}

table.brd_side th.bort{
    border-top: 0;
}

.t_list .fail td,
.t_list .fail td > *{
    color:#F9423A !important;
}

.t_form{
    border-bottom: 1px solid #EFEAE3;
}

.t_form td{
    padding: 13px 20px;
    font-size: 15px;
    word-break: break-all;
    color: #030303;
    border-top: 1px solid #EFEAE3;
}

.t_form td.th{
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    background: #FAF8F6;
}

.t_form td.text_left,
.t_list td.text_left{
    padding-left: 15px;
}

.t_form td .text{
    padding: 7px 0;
    line-height: 1.7;
    word-break: break-all;
}

.t_scroll{
    max-height: 300px;
    overflow-y: auto;
}

.t_total{
    margin-bottom: 7px;
    color: #666;
    font-size: 15px;
}

.view_img{
    margin: 7px 0;
    font-size: 0;
}

.view_img p{
    width: 76px;
    height: 76px;
    margin-right: 15px;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.view_img p img{
    width: 100%;
    display: block;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.clear .t_total{
    margin-top: 10px;
    display: inline-block;
}

.paging{
    margin-top: 65px;
    text-align: center;
}

.paging a{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 2px;
    font-size: 15px;
    line-height: 28px;
    color: #999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.paging .num.active{
    color: #fff !important;
    background: #0f77be;
    cursor: inherit;
}

.paging .num:hover,
.paging .num:focus{
    color: #030303;
}

.paging .arrow{
    width: 40px;
    height: 40px;
    margin: -1px 0 0;
    font-size: 0;
    vertical-align: middle;
    text-indent: -99999px;
}

.paging .arrow.first,
.paging .arrow.last{
    background: url('../../../assets/images/paging_arr01.svg') no-repeat center top;
    background-size: 40px;
}
.paging .arrow.prev,
.paging .arrow.next{
    margin: -1px 5px 0;
    background: url('../../../assets/images/paging_arr02.svg') no-repeat center top;
    background-size: 40px;
}

.paging .arrow.last,
.paging .arrow.next{
    transform: rotate(180deg);
}

/* form */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
select,
textarea{
    display: inline-block;
    height: 38px;
    margin-right: 6px;
    padding: 0 12px;
    font-size: 15px;
    color: #555;
    border:1px solid #EFEAE3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.border_box input,
.border_box select{
    min-width: 211px;
}

select{
    padding: 0 30px 0 12px;
    background: url('../../../assets/images/select.svg') no-repeat right 10px center;
}

.datepick{
    background: url('../../../assets/images/icon_input_calendar.svg') no-repeat right 10px center;
    background-size: 22px;
}

.flatpickr-calendar .flatpickr-monthDropdown-months{
    min-width: 0;
}

.flatpickr-calendar .flatpickr-day.selected{
    background: #0A895F;
    border-color: #0A895F;
}

input[type="radio"],
input[type="checkbox"]{
    display: none;
}

.checkbox,
.radio{
    display: inline-block;
    margin-right: 35px;
}

.checkbox.mar0,
.radio.mar0,
.checkbox.mar0 input + label i, 
.radio.mar0 input + label i{
    margin: 0 !important;
}

.checkbox input + label,
.radio input + label{
    color: #666;
    font-size: 16px;
    cursor: pointer;
}

.checkbox input:checked + label,
.radio input:checked + label{
    color: #030303;
}

.checkbox input + label i,
.radio input + label i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: -2px;
    vertical-align: middle;
    background: url('../../../assets/images/input_check_off.svg') no-repeat left top;
    background-size: 20px;
}
.checkbox input:checked + label i{
    background: url('../../../assets/images/input_check_on.svg') no-repeat left top;
    background-size: 20px;
}

.radio input + label i{
    background: url('../../../assets/images/input_radio_off.svg') no-repeat left top;
    background-size: 20px;
}
.radio input:checked + label i{
    background: url('../../../assets/images/input_radio_on.svg') no-repeat left top;
    background-size: 20px;
}

.radio_btn{
    display: inline-block;
    margin-right: 5px;
}

.radio_btn label{
    padding:3px 15px 2px;
    display: inline-block;
    color: #777;
    background: #f6f6f6;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
}

.radio_btn input:checked + label{
    color: #fff;
    background: #666;
    border: 1px solid #666;
}

.modal .radio{
    margin:4px 35px 4px 0;
}

.modal .radio input + label,
.modal .checkbox input + label{
    font-size: 14px;
}

textarea{
    width: 360px;
    height: auto;
    padding: 20px;
    resize: none;
    color: #555;
    line-height: 1.6;
}

.readonly{
    background: #f9f9f9;
}

.file_wrap{
    width: 150px;
    margin-right: 10px;
    display: inline-block;
}

.file_wrap.popup_file{
    width: 80%;
    display: block;
    margin-right: 0;
}

.file_wrap input.uploadBtn{
    display: none;
}

.file_wrap .add_file{
    display: block;
    margin-top: 10px;
    width: 73px;
    height: 28px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    border: 2px solid #EFEAE3;
    border-radius: 6px;
    cursor: pointer;
}

.file_wrap .add_file.inline{
    display: inline-block;
    margin-right: 1rem;
}

.thumbnail{
    height: 100px;
    overflow: hidden;
    position: relative;
    background: #e5e5e5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.thumbnail img{
    max-width: 100%;
    display: none;
}

.file_wrap.add .thumbnail img{
    display: block;
}

.thumbnail .img_delete{
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    right: 4px;
    font-size: 0;
    text-indent: -99999px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, .6);
    background-image: url('../../../assets/images/btn_close_white.svg');
    background-size: 16px;
    background-position:  center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.add .thumbnail{
    background: none;
}

.add .thumbnail .img_delete{
    display: block;
}

.file_wrap.home_mob{
    width: 668px;
}
.file_wrap.home_mob .thumbnail{
    height: 196px;
}
.file_wrap.home_pc{
    width: 205px;
}
.file_wrap.home_pc .thumbnail{
    height: 255px;
}
.file_wrap.cs_mob{
    width: 656px;
}
.file_wrap.cs_mob .thumbnail{
    height:100px;
}
.file_wrap.cs_pc{
    width: 800px;
}
.file_wrap.cs_pc .thumbnail{
    height: 65px;
}

.file_wrap.popup_file .thumbnail{
    height: 300px;
    min-height: 30px;
}

.file_wrap.popup_file.add .thumbnail{
    height: auto;
}


.w40{
    width: 40% !important;
}
.w60{
    width: 58% !important;
}
.w70{
    width: 70% !important;
}
.w100{
    width: 100% !important;
}
.w130{
    width: 130px !important;
}
.w200{
    width: 210px !important;
}

.txt_count{
    display: inline-block;
    margin-left: 7px;
    vertical-align: baseline;
    font-size: 12px;
    color: #999;
}

textarea + .txt_count{
    vertical-align: super;
}

/* button */
button{
    cursor: pointer;
}

.s_btn{
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 9px;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.s_btn.right,
a.right{
    float: right;
}

.btn_wrap{
    margin-top: 40px;
    text-align: center;
}

.btn_wrap a{
    min-width: 140px;
    padding: 14px 40px;
    display: inline-block;
    margin: 0 .3rem;
    font-size: 16px;
    font-weight: 600;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.submit{
    color: #fff;
    background: #0c5d95;
}

.cancle{
    color: #fff;
    background: #D7D2CB;
}

.address input{
    width:35%;
}

.address .find_add{
    width: 150px;
    margin-right: 7px;
    position: relative;
}

.find_add input{
    padding-right: 40px;
}

.find_add a{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    right: 6px;
    font-size: 0;
    text-indent: -99999px;
    background: url('../../../assets/images/icon_window.svg') no-repeat left top;
    background-size: 26px;
}

.refresh{
    float: right;
    margin-top: 10px;
    font-size: 14px;
    color: #006341;
    text-decoration: underline !important;
    text-align: right;
}

.t_btn{
    display: inline-block;
    padding: 3px 10px 2px;
    color: #333;
    background: #eee;
    border-radius: 6px;
}

.modify{
    color: #006341;
    text-decoration: underline !important;
}

.modify_btn{
    color: #F9423A;
    text-decoration: underline !important;
}

.btn_blank{
    width: 210px;
    height: 40px;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    font-size: 15px;
    color: #555;
    border: 1px solid #EFEAE3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.btn_blank::after{
    content: '';
    width:25px;
    height:25px;
    position: absolute;
    top: 7px;
    right: 10px;
    background: url('../../../assets/images/icon_window.svg') no-repeat left top;
    background-size: 100%;
}


/* popup */
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 102;
    background: #000;
    opacity: .7;
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 103;
}

.popup_img .pop_close{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    background: url('../../../assets/images/btn_close_white.svg') no-repeat left top;
    background-size: 100%;
    cursor: pointer;
}

.popup_img img{
    max-width: 1200px;
    max-height: 90vh;
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 103;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

.modal {
    display: none;
    vertical-align: middle;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 900px;
    min-width: 400px;
    max-height: 96%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left;
    background: #fff;
}

.modal a.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../../assets/images/btn_close.svg');
}

#popup_add table,
#popup_mod table{
    table-layout: fixed;
}

.pop_title{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #030303;
}

#mb_info{
    width: 900px;
    min-width: 900px;
    max-height: 90vh;
    overflow-y: auto;
}

.modal .border_box{
    padding: 0 25px;
}

.marketing{
    display: inline-block;
    margin-right:.3rem;
    padding: 0.3rem 0.6rem;
    color: #aaa;
    font-size: 13px;
    line-height: 1;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.marketing.active{
    color: #006341;
    border: 1px solid #006341;
    background: #fff;
}

.modal .t_form td,
.modal .t_list td,
.modal .t_list thead th{
    font-size: 14px;
}

.modal table th{
    text-align: center;
}

.modal .paging{
    margin-top: 20px;
}

#cb_view,
.modal.min_height{
    max-height: 90vh;
    overflow-y: auto;
}

#refund{
    width: 800px;
}

.reset_wrap .thumb{
    overflow: hidden;
    margin-bottom: 20px;
}

.reset_wrap .thumb .zoomImage{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}

.reset_wrap .thumb .zoomImage img{
    width: 100%;
}

.reset_wrap .zoom img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.modal .order{
    width: 600px;
    border: 1px solid #ddd;
}

.sort_wrap .sort{
    display: flex;
    margin: .4rem 0;
}

.sort_wrap .sort .btn{
    margin-left: 7px;
    font-size: 0;
}

.sort_wrap .sort .btn > *{
    width: 37px;
    height: 37px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #f6f6f6;
    border:1px solid #e6e6e6;
}

.sort_wrap .sort .btn button::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 27px;
    left:4px;
    top: 5px;
    transform: rotate(90deg);
    background: url('../../../assets/images/btn_back.svg') no-repeat left top;
    background-size: 100%;
}

.sort_wrap .sort .btn .move_down::before{
    transform: rotate(-90deg);
}

.sort_wrap .sort .btn a.delete::before{
    content: 'X';
    position: absolute;
    width: 23px;
    height: 23px;
    left:5px;
    top: 6px;
    background: url('../../../assets/images/btn_close.svg') no-repeat left top;
    background-size: 100%;
}

h1.logo{
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #DFDCDA;
    margin-top:-20px;
}

h1.logo a{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    display: block;
    font-size: 0;
    text-indent: -99999px;
    background: url('../../../assets/images/main_logo.png') no-repeat left top;
    background-size: 100%;
}

#error{
    text-align: center;
}

#error .icon::before{
    content: '';
    width: 76px;
    height: 76px;
    display: block;
    margin: 200px auto 30px;
    background: url('../../../assets/images/icon_error.png') no-repeat left top;
    background-size: 100%;
}

#error h5{
    margin-bottom: 10px;
    color: #0c5d95;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
}

#error p{
    font-size: 15px;
    color: #666;
}
    
/* 개선사항 추가 */
.change_name{
    margin-top: 6px;
    display: none;
}

.change_name input{
    width: 50%;
    height: 32px;
    font-size: 14px;
}

.change_name a{
    display: inline-block;
    padding: 5px 7px;
    margin-right: 4px;
    font-size: 13px;
}

/* 종료신청 - 종료사유 CSS(211112 추가) */
.request{
	margin-top:15px;
}

.modal .request .radio{
    overflow: hidden;
    margin:0;
    margin-top: 7px;
}

.request .radio .input_radio{
    width: 50%;
    display: block;
    margin: 6px 0;
    float: left;
}

.request .input input{
    width: 50%;
    height:40px;
}

.input input{
    padding: 0 12px;
    background: none;
    border: 1px solid #EFEAE3;
}

.mykeep .badge{
    display: inline-block;
    padding: 2px 4px 1px;
    margin-right: 3px;
    font-weight: 600;
    font-style: normal;
    color: #0A895F;
    font-size: 12px;
    border: 1px solid #0A895F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.mykeep .badge.error{
    color: #F82F2F;
    border: 1px solid #F82F2F;
}

.pay_result{
    margin: 50px auto 0;
    text-align: center;
}

.pay_result.error{
    color: #F9423A;
}

.pay_result i{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    background: url('../../../assets/images/icon_result_suc.svg') no-repeat left top;
    background-size: 100%;
}

.pay_result.error i{
    background: url('../../../assets/images/icon_result_fail.svg') no-repeat left top;
    background-size: 100%;
}

.pay_result p{
    margin-top: 5px;
}

.w80{
	width:80%;
}
.w90{
	width:90%;
}


