<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- include 방식 -->
	<th:block th:include="common/common" th:remove="tag"></th:block>
</head>
<body>

<form id="comCdForm" name="comCdForm" method="post">
	<!-- 수정일 경우 hidden값 세팅 -->
	<th:block th:if="${session.STS_FLAG eq 'upd'}">
		<input type="hidden" id="comCd" name="comCd" class="w100" th:value="${resultVO.comCd}">
	</th:block>
	
	<div id="wrap">
		<!-- header start -->
		<header>
			<th:block th:include="common/top" th:remove="tag"></th:block>
			<th:block th:include="common/lnb" th:remove="tag"></th:block>
		</header>
		<!-- header end -->
		
		<div id="container">
			<div class="contents">
				<!-- 지부정보 등록 start -->
				<h3 class="page_title">
					공통코드관리
					<th:block th:if="${session.STS_FLAG eq 'add'}">
						등록
					</th:block>
					<th:block th:if="${session.STS_FLAG eq 'upd'}">
						수정
					</th:block>
				</h3>
				<table cellpadding="0" cellspacing="0" class="t_form">
					<colgroup>
						<col width="100px"><col width="130px"><col width="100px"><col width="130px"><col width="100px"><col width="130px">
					</colgroup>
					<tbody>
					<tr>
						<td class="th">공통코드</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="comCd" name="comCd" class="w100" value="자동세팅" readonly="readonly" style="background:#efefef;">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<th:block th:text="${resultVO.comCd}"/>
							</th:block>
						</td>
						<td class="th">공통코드명</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="cdNm" name="cdNm" class="w100" value="" maxlength="150" data-parsley-required="true" data-parsley-error-message="공통코드명을 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="cdNm" name="cdNm" class="w100" th:value="${resultVO.cdNm}" maxlength="150" data-parsley-required="true" data-parsley-error-message="공통코드명을 입력해주세요.">
							</th:block>
						</td>
						<td class="th">코드영문명</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="cdEngNm" name="cdEngNm" class="w100" value="" maxlength="100">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="cdEngNm" name="cdEngNm" class="w100" th:value="${resultVO.cdEngNm}" maxlength="100">
							</th:block>
						</td>
					</tr>
					<tr>
						<td class="th">상위공통코드</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<select name="upperComCd" id="upperComCd" class="w100" data-parsley-required="true" data-parsley-error-message="상위공통코드를 선택해주세요.">
									<option th:each="result : ${cdList}" th:value="${result.comCd}" th:text="${result.cdNm}"></option>
								</select>
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<select name="upperComCd" id="upperComCd" class="w100" data-parsley-required="true" data-parsley-error-message="상위공통코드를 선택해주세요.">
									<option th:each="result : ${cdList}" th:value="${result.comCd}" th:text="${result.cdNm}" th:selected="${resultVO.upperComCd} == ${result.comCd}"></option>
								</select>
							</th:block>
						</td>
						<td class="th">코드레벨</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="lvl" name="lvl" class="w100" value="" readonly="readonly" data-parsley-required="true" data-parsley-error-message="코드레벨을 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="lvl" name="lvl" class="w100" th:value="${resultVO.lvl}" readonly="readonly" data-parsley-required="true" data-parsley-error-message="코드레벨을 입력해주세요.">
							</th:block>
						</td>
						<td class="th">정렬순서</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="cdSort" name="cdSort" class="w100" value="" maxlength="9" data-parsley-required="true" data-parsley-error-message="정렬순서를 입력해주세요.">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="cdSort" name="cdSort" class="w100" th:value="${resultVO.cdSort}" maxlength="9" data-parsley-required="true" data-parsley-error-message="정렬순서를 입력해주세요.">
							</th:block>
						</td>
					</tr>
					<tr>
						<td class="th">값1</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="val1" name="val1" class="w100" value="" maxlength="15">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="val1" name="val1" class="w100" th:value="${resultVO.val1}" maxlength="15">
							</th:block>
						</td>
						<td class="th">값2</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="val2" name="val2" class="w100" value="" maxlength="15">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="val2" name="val2" class="w100" th:value="${resultVO.val2}" maxlength="15">
							</th:block>
						</td>
						<td class="th">값3</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="val3" name="val3" class="w100" value="" maxlength="15">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="val3" name="val3" class="w100" th:value="${resultVO.val3}" maxlength="15">
							</th:block>
						</td>
					</tr>
					<tr>
						<td class="th">사용여부</td>
						<td>
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<select name="useYn" id="useYn" class="w100" data-parsley-required="true" data-parsley-error-message="사용여부를 선택해주세요.">
									<option th:each="result : ${useYnSelect}" th:value="${result.val1}" th:text="${result.cdNm}"></option>
								</select>
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<select name="useYn" id="useYn" class="w100" data-parsley-required="true" data-parsley-error-message="사용여부를 선택해주세요.">
									<option th:each="result : ${useYnSelect}" th:value="${result.val1}" th:text="${result.cdNm}" th:selected="${resultVO.useYn} == ${result.val1}"></option>
								</select>
							</th:block>
						</td>
						<td class="th">코드설명</td>
						<td colspan="3">
							<th:block th:if="${session.STS_FLAG eq 'add'}">
								<input type="text" id="cdDc" name="cdDc" class="w100" value="" maxlength="200">
							</th:block>
							<th:block th:if="${session.STS_FLAG eq 'upd'}">
								<input type="text" id="cdDc" name="cdDc" class="w100" th:value="${resultVO.cdDc}" maxlength="200">
							</th:block>
						</td>
					</tr>
					</tbody>
				</table>
				
				<div class="btn_wrap">
					<a href="javascript:fn_cancel();" class="cancle">취소하기</a>
					<th:block th:if="${session.STS_FLAG eq 'add'}">
						<a href="javascript:fn_add();" class="submit">등록하기</a>
					</th:block>
					<th:block th:if="${session.STS_FLAG eq 'upd'}">
						<a href="javascript:fn_upd();" class="submit">수정하기</a>
					</th:block>
				</div>
				<!-- 게시판 카테고리 등록 end -->
			</div>
		</div>
	</div>
</form>
<script th:inline="javascript">
$(document).ready(function(){
	// 코드영문명 유효성검사 추가(영문, 숫자를 제외한 나머지 문자 입력 안되도록 구현) 
	$("#cdEngNm").keyup(function(){
		$("#cdEngNm").val($("#cdEngNm").val().replace(/[^a-zA-Z_]*$/, ''));
	});

	// 정렬순서 유효성검사 추가(숫자를 제외한 나머지 문자 입력 안되도록 구현)
	$("#cdSort").keyup(function(){
		$("#cdSort").val($("#cdSort").val().replace(/[^0-9]*$/, ''));
	});

	// 상위공통코드 선택하면 코드레벨값 세팅
	$("#upperComCd").change(function(){
		if($(this).val() == ""){
			$("#lvl").val("");	// 값 초기화
		}else if($(this).val() == "-1"){
			$("#lvl").val("1");
		}else{
			$("#lvl").val("2");
		}
	});

	// 수정화면에서 상위공통코드 combo box disabled 처리
	if([[${session.STS_FLAG}]] == "upd"){
		$("#upperComCd").prop("disabled", true);
	}
});

// 등록하기
function fn_add(){

	// validation 체크
	if(formValidation("comCdForm")){

		var frm = $("#comCdForm")[0];
		frm.action = "/com/cd/add";
		frm.submit();
	}
}

// 수정하기
function fn_upd(){

	// validation 체크
	if(formValidation("comCdForm")){

		var frm = $("#comCdForm")[0];
		frm.action = "/com/cd/upd";
		frm.submit();
	}
}

// 취소하기
function fn_cancel(){
	location.href = "/com/cd/list"
}
</script>
</body>
</html>